@page
@model Hilleroed_Sejlklub_web.Pages.BoatGridModel
@{
}
@foreach (var boat in Model.Boats)
{
	<div>
		<div class="card">
			<div class="card__bg"></div>
			<img src="~/img/Havn.jpg" alt="Sejlklub billede" class="img-fluid rounded card-img-top">
			<div class="card-body">
				<h5 class="card-title">@boat.Name</h5>
				<p class="card-text">Beskrivelse: @boat.Name<br>Antal personer: @boat.Model</p>
				<a href="#" class="card__btn">Book</a>
			</div>
		</div>
	</div>
	
}