
@page
@using System.Diagnostics;
@model Hilleroed_Sejlklub_web.Pages.BoatGridModel
@{
}
@foreach (var boat in Model.Boats)
{
	Debug.WriteLine($"Boat Name: {boat.Name}");
	<div>
		<div class="card">
			<div class="card__bg"></div>
			<img src="~/img/Havn.jpg" alt="Sejlklub billede" class="img-fluid rounded card-img-top">
			<div class="card-body">
				<h5 class="card-title">@boat.Name</h5>
				<p class="card-text">Modeltype: @boat.Model<br>Antal personer: @boat.Type</p>
				<a href="#" class="card__btn">Book</a>
			</div>
		</div>
	</div>
}