    @page
    @model Hilleroed_Sejlklub_web.Pages.BookingGridModel
    
    <!DOCTYPE html>
    <html lang="da">
    <head>
        <meta charset="UTF-8">
        <title>Member Grid - Hillerød Sejlklub</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
             <link rel="stylesheet" href="~/css/Rooms.css" />
    </head>

    <body>
		@foreach (var booking in Model.Bookings)
        {
        <div class="container">
        <div class="card">
            <div class="card__bg">
                <div class="card-body">
                    <h5 class="card-title">Booking nummer: @booking.BookingID</h5>
                    <p class="card-text">
                        <p class="card-text">Tidspunkt for booking: @booking.TimeOfBooking<br />Hvor er vi: @booking.Location</p>
                    </p>
                </div>
            </div>
        </div>

    </div>
}
</body>
</html>
    
    
