    @page
    @model Hilleroed_Sejlklub_web.Pages.BookingGridModel
    @{
    <!DOCTYPE html>
    <html lang="da">
    <head>
        <meta charset="UTF-8">
        <title>Member Grid - Hillerød Sejlklub</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
             <link rel="stylesheet" href="~/css/Rooms.css" />
    </head>
    <body>

        <div class="container">
        <div class="card">
            <div class="card__bg">
                <img src="~/img/Havn.jpg"
                     alt="Sejlklub billede"
                     class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">
                        Modeltype:Model<br>
                        Antal personer: Type
                    </p>
                    <a href="#" class="card__btn">Book</a>
                </div>
            </div>
        </div>

            <div class="card">
                <div class="card__bg">
                    <img src="~/img/Havn.jpg"
                         alt="Sejlklub billede"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Name</h5>
                        <p class="card-text">
                            Modeltype:Model<br>
                            Antal personer: Type
                        </p>
                        <a href="#" class="card__btn">Book</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__bg">
                    <img src="~/img/Havn.jpg"
                         alt="Sejlklub billede"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Name</h5>
                        <p class="card-text">
                            Modeltype:Model<br>
                            Antal personer: Type
                        </p>
                        <a href="#" class="card__btn">Book</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__bg">
                    <img src="~/img/Havn.jpg"
                         alt="Sejlklub billede"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Name</h5>
                        <p class="card-text">
                            Modeltype:Model<br>
                            Antal personer: Type
                        </p>
                        <a href="#" class="card__btn">Book</a>
                    </div>
                </div>
            </div>

    </div>

    </body>
    </html>

    }
