@page
@model Hilleroed_Sejlklub_web.Pages.EditMemberModel
@{
}
<form method="post">
    <div>
        <div class="mb-3">
        <label for="Navn">Navn</label>
        <input type="text" id="Name" name="Name" asp-for="Name" required />
    </div>
    <div>
        <div class="mb-3">
        <label for="ContactInfo">Telefon Nummer</label>
        <input type="text" id="ContactInfo" name="ContactInfo" asp-for="ContactInfo" required />
    </div>
    <div>
        <div class="mb-3">
        <label for="Gender">Køn</label>
        <input type="text" id="Gender" name="Gender" asp-for="Gender" required />
    </div>
    <div class="mb-3">
        <label for="BirthDay" class="form-label">Fødselsdag</label>
        <input type="date" class="form-control" id="BirthDay" name="BirthDay" asp-for="BirthDay" value="eks. 1999-12-04" required />
    </div>
    <button type="submit">Opret nyt Medlem</button>

            </div>
            </div>
    </div>
</form>